body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

html, body {
  height: 100%;
}

a {
  text-decoration: none;
  color: black;
}

li {
  list-style-type: none;
}

.head {
  min-height: 100vh;
  background: url("../image/background.png") no-repeat;
  background-size: 100%;
  object-fit: cover;
}

img {
  max-width: 100%;
}

/*    HEADER   */
.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 10px;
}

.header:before {
  content: "";
  background-color: gray;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.header__body {
  display: flex;
  justify-content: space-between;
  height: 100px;
  align-items: center;
}

.header__logo {
  flex: 0 0 60px;
  position: relative;
  z-index: 2;
}

.header__logo img {
  max-width: 100%;
  display: block;
}

.header__list {
  display: flex;
  font-weight: 700;
  font-size: 20px;
  position: relative;
  z-index: 2;
  align-items: center;
}

.header__link {
  margin-left: 25px;
}

.header__burger {
  display: none;
}

.content {
  padding: 20% 0 0 0;
  text-align: center;
  color: white;
}

.content__title {
  font-size: 60px;
  font-weight: 700;
}

.content__text {
  font-size: 22px;
}

.content__button {
  font-size: 20px;
  text-transform: uppercase;
  padding: 6% 0 0 0;
  font-weight: 700;
}

.content__button a {
  color: white;
  padding: 2% 3%;
  margin-left: 10px;
  margin-right: 10px;
}

.content__button__white {
  color: white;
  border: 1px solid white;
}

.content__button__green {
  background-color: #00897b;
}

@media (max-width: 1279px) {
  .content__title {
    font-size: 40px;
  }

  .content__text {
    font-size: 16px;
  }

  .content__button {
    font-size: 16px;
  }

  .header__body {
    height: 60px;
  }

  .header__list {
    font-size: 18px;
  }

  .header__list img {
    max-width: 100%;
    width: 15px;
  }

  .header__logo {
    flex: 0 0 40px;
  }
}
@media (max-width: 767px) {
  .header__body {
    height: 50px;
  }

  .header__list {
    font-size: 18px;
    display: block;
  }

  .header__list img {
    max-width: 100%;
    width: 15px;
  }

  .header__link {
    margin-left: 10px;
  }

  .header__logo {
    flex: 0 0 30px;
  }

  .header__burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    z-index: 2;
  }

  .header__burger span {
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: black;
    top: 9px;
    left: 0;
  }

  .header__burger:before,
.header__burger:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: black;
    transition: all 1s ease 0s;
  }

  .header__burger:before {
    bottom: 0;
  }

  .header__menu {
    position: fixed;
    width: 100%;
    height: 100%;
    top: -120%;
    left: 0;
    background-color: #18b5a4;
    padding: 70px 0 0 0;
    transition: all 1s ease 0s;
  }

  .header__menu.active {
    top: 0;
  }

  .header__burger.active span {
    transform: scale(0);
  }

  .header__burger.active:before {
    transform: rotate(45deg);
    top: 9px;
  }

  .header__burger.active:after {
    transform: rotate(-45deg);
    bottom: 9px;
  }

  .content__title {
    font-size: 22px;
    font-weight: 300;
  }

  .content__text {
    font-size: 12px;
  }

  .content__button {
    font-size: 12px;
    font-weight: 300;
  }
}


/*   HEADER END   */



/*   ABOUT   */


.common-header {
  text-align: center;
  padding-top: 15%;
}

.title {
  font-size: 30px;
  font-weight: 700;
}

.text {
  font-size: 20px;
}

.aboutUs__content {
  display: flex;
  justify-content: space-around;
  text-align: center;
  padding-top: 15%;
}

.aboutUs__header {
  text-align: center;
  padding-top: 15%;
}

.common-item h2 {
  font-size: 22px;
}

@media (max-width: 767px) {
  .aboutUs__content {
    display: flex;
    flex-direction: column;
  }
  .aboutUs__header {
    text-align: center;
    margin-top: -120%;
  }
  .aboutUs__item{
    margin:40px 0;
  }
}


/*   ABOUT END   */



/*   SERVICES   */


.services__head {
  background-color: #e4fdf9;
}

.services__content {
  padding-top: 10%;
  padding-bottom: 15%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.services__content h2 {
  font-size: 20px;
}
.services__content p {
  font-size: 15px;
  line-height: 25px;
  margin-bottom: 50px;
}
.services__content a {
  font-size: 20px;
  border: 2px solid #000000;
  padding: 12px;
  text-transform: uppercase;
}

.services__item {
  padding-top: 5%;
  width: 370px;
  height: 440px;
  background-color: #ffffff;
  text-align: center;
  margin-top: 30px;
  transition: all 1s ease 0s;
}
.services__item:hover {
  background-color: #00897b;
  transition: all 2s ease 0s;
  color: white;
  box-shadow: 0 0 10px #000000;
}
.services__item:hover img {
  transition: all 2s ease 0s;
  filter: invert(1);
}
.services__item:hover a {
  transition: all 2s ease 0s;
  color: white;
  border: 2px solid white;
}

.services__header {
  margin-top: 200px;
}

@media (max-width: 767px) {
  .title {
    font-size: 24px;
  }

  .text {
    font-size: 16px;
  }
}


/* SERVICES END*/


@media (max-width: 1279px) {
  .common-item h2 {
    font-size: 20px;
  }
}


/* PORTFOLIO */


.portfolio__content {
  padding: 10% 0%;
}

.portfolio-shap {
  display: flex;
  justify-content: center;
  padding-bottom: 5%;
}
.portfolio-shap a {
  text-transform: uppercase;
  font-weight: bold;
  padding: 15px 25px;
  border: 2px solid #00897b;
  margin: 0 10px;
}
.portfolio-shap a:hover {
  color: white;
  background-color: #00897b;
}

.item-portfolio {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 10%;
}
.item-portfolio__content {
  padding-top: 2%;
}

.portfolio__button {
  text-align: center;
}
.portfolio__button a {
  text-transform: uppercase;
  font-weight: bold;
  padding: 20px 70px;
  border: 2px solid #00897b;
}
.portfolio__button a:hover {
  color: white;
  background-color: #00897b;
}

@media (max-width: 767px) {
  .portfolio-shap {
    display: flex;
    flex-direction: column;
    width: 200px;
    text-align: center;
  }
  .portfolio-shap a {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .portfolio__button{
    padding-top:20%;
  }
}


/* PORTFOLIO END */
