html{
	box-sizing: border-box;
}

*, *:after, *:before{
	box-sizing: inherit;
}


body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

html, body {
  height: 100%;
}

a {
  text-decoration: none;
  color: black;
}

li {
  list-style-type: none;
}

.head {
  min-height: 100vh;
  background: url("../image/background.png") no-repeat;
  background-size: 100%;
  object-fit: cover;
}

img {
  max-width: 100%;
}


/*    HEADER   */


.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 10px;
}

.header:before {
  content: "";
  background-color: white;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.header__body {
  display: flex;
  justify-content: space-between;
  height: 100px;
  align-items: center;
}

.header__logo {
  flex: 0 0 60px;
  position: relative;
  z-index: 2;
}

.header__logo img {
  max-width: 100%;
  display: block;
}

.header__list {
  display: flex;
  font-weight: 700;
  font-size: 20px;
  position: relative;
  z-index: 2;
  align-items: center;
}

.header__link {
  margin-left: 25px;
}

.header__burger {
  display: none;
}

.content {
  padding: 20% 0 0 0;
  text-align: center;
  color: white;
}

.content__title {
  font-size: 60px;
  font-weight: 700;
}

.content__text {
  font-size: 22px;
}

.content__button {
  font-size: 20px;
  text-transform: uppercase;
  padding: 6% 0 0 0;
  font-weight: 700;
}

.content__button a {
  color: white;
  padding: 2% 3%;
  margin-left: 10px;
  margin-right: 10px;
}

.content__button__white {
  color: white;
  border: 1px solid white;
}

.content__button__green {
  background-color: #00897b;
}

@media (max-width: 1279px) {
  .content__title {
    font-size: 40px;
  }

  .content__text {
    font-size: 16px;
  }

  .content__button {
    font-size: 16px;
  }

  .header__body {
    height: 60px;
  }

  .header__list {
    font-size: 18px;
  }

  .header__list img {
    max-width: 100%;
    width: 15px;
  }

  .header__logo {
    flex: 0 0 40px;
  }
}
@media (max-width: 767px) {
  .header__body {
    height: 50px;
  }

  .header__list {
    font-size: 18px;
    display: block;
  }

  .header__list img {
    max-width: 100%;
    width: 15px;
  }

  .header__link {
    margin-left: 10px;
  }

  .header__logo {
    flex: 0 0 30px;
  }

  .header__burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    z-index: 2;
  }

  .header__burger span {
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: black;
    top: 9px;
    left: 0;
  }

  .header__burger:before,
.header__burger:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: black;
    transition: all 1s ease 0s;
  }

  .header__burger:before {
    bottom: 0;
  }

  .header__menu {
    position: fixed;
    width: 100%;
    height: 100%;
    top: -120%;
    left: 0;
    background-color: #ffffff;
    padding: 70px 0 0 0;
    transition: all 1.5s ease 0s;
  }

  .header__menu.active {
    top: 0;
  }

  .header__burger.active span {
    transform: scale(0);
  }

  .header__burger.active:before {
    transform: rotate(45deg);
    top: 9px;
  }

  .header__burger.active:after {
    transform: rotate(-45deg);
    bottom: 9px;
  }

  .content__title {
    font-size: 22px;
    font-weight: 300;
  }

  .content__text {
    font-size: 12px;
  }

  .content__button {
    font-size: 12px;
    font-weight: 300;
  }
}


/*   HEADER END   */



/*   ABOUT   */


.common-header {
  text-align: center;
  padding-top: 15%;
}

.title {
  font-size: 30px;
  font-weight: 700;
}

.text {
  font-size: 20px;
}

.about-us__content {
  display: flex;
  justify-content: space-around;
  text-align: center;
  padding-top: 15%;
}

.about-us__header {
  text-align: center;
  padding-top: 15%;
}

.common-item h2 {
  font-size: 22px;
}

@media (max-width: 767px) {
  .about-us__content {
    display: flex;
    flex-direction: column;
  }

  .about-us__header {
    text-align: center;
    margin-top: -120%;
  }

  .about-us__item {
    margin: 40px 0;
  }
}


/*   ABOUT END   */



/*   SERVICES   */


.services__head {
  background-color: #e4fdf9;
}

.services__content {
  padding-top: 10%;
  padding-bottom: 15%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.services__content h2 {
  font-size: 20px;
}
.services__content p {
  font-size: 15px;
  line-height: 25px;
  margin-bottom: 50px;
}
.services__content a {
  font-size: 20px;
  border: 2px solid #000000;
  padding: 12px;
  text-transform: uppercase;
}

.services__item {
  padding-top: 5%;
  width: 370px;
  height: 440px;
  background-color: #ffffff;
  text-align: center;
  margin-top: 30px;
  transition: all 1s ease 0s;
}
.services__item:hover {
  background-color: #00897b;
  transition: all 2s ease 0s;
  color: white;
  box-shadow: 0 0 10px #000000;
}
.services__item:hover img {
  transition: all 2s ease 0s;
  filter: invert(1);
}
.services__item:hover a {
  transition: all 2s ease 0s;
  color: white;
  border: 2px solid white;
}

.services__header {
  margin-top: 200px;
}

@media (max-width: 767px) {
  .title {
    font-size: 24px;
  }

  .text {
    font-size: 16px;
  }
}
/* SERVICES END*/
@media (max-width: 1279px) {
  .common-item h2 {
    font-size: 20px;
  }
}
/* PORTFOLIO */
.portfolio__content {
  padding: 10% 0%;
}

.portfolio-shap {
  display: flex;
  justify-content: center;
  padding-bottom: 5%;
}
.portfolio-shap a {
  text-transform: uppercase;
  font-weight: bold;
  padding: 15px 25px;
  border: 2px solid #00897b;
  margin: 0 10px;
}
.portfolio-shap a:hover {
  color: white;
  background-color: #00897b;
}

.item-portfolio {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 10%;
}
.item-portfolio__content {
  padding-top: 2%;
}

.portfolio__button {
  text-align: center;
}
.portfolio__button a {
  text-transform: uppercase;
  font-weight: bold;
  padding: 20px 70px;
  border: 2px solid #00897b;
}
.portfolio__button a:hover {
  color: white;
  background-color: #00897b;
}

@media (max-width: 767px) {
  .portfolio-shap {
    display: flex;
		flex-direction: column;
    width: 200px;
		text-align: center;
  }
  .portfolio-shap a {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .portfolio__button {
    padding: 25% 0%;
  }
}


/* PORTFOLIO END */



/* PRICING */


.pricing__head {
  background-color: #f0f1f1;
}

.pricing__content {
  display: flex;
	justify-content: space-between;
	padding-bottom: 10%;
}

.pricing__header {
  padding-bottom: 15%;
}

.pricing__item {
  min-width: 31.6216216216%;
  background-color: white;
	text-align: center;
	padding-bottom: 5%;
}

.pricing__item h2 {
  color: white;
  font-size: 25px;
  font-weight: lighter;
  padding-top: 10%;
}

.pricing__button a{
  margin-top:10%;
  border: 2px solid black;
  padding: 20px 30px;
  text-transform: uppercase;
  font-weight: 700;
}

.pricing__button a:hover{
	background-color: #00897b;
	border: none;
	color:white
}

.pricing__button {
  padding:10% 0%;
}

.pricing__item__price{
  color:white;
}

.pricing__item__price b {
  font-size: 50px;
  font-weight: lighter;
}

.pricing__item__specifications{
  padding: 30% 0% 10% 0%;
  color:#7a7a7a;
}

.pricing__item__specifications p{
  border-bottom: 1px solid #7a7a7a;
  padding: 5% 0%;
}

.pricing__item__header{
  background: url("../image/pricing.png") no-repeat;
}

.pricing__item:hover{
  box-shadow: 0 0 20px #c8c8c8;
}

.pricing__item__button a:hover{
  background-color: #00897b;
  border: none;
  color:white;
}

@media (max-width:767px){
	.pricing__content{
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 0% 5%;
	}
	.pricing__item{
		width: 100%;
		margin-bottom: 20%;
	}
}


/* PRICING END */



/* TEAM */

.team__header{
	padding-bottom: 10%;
}

.team__content{
	display: flex;
	justify-content: space-between;
}

.team__item{
	text-align: center;
	padding: 0 10px;
}

.item__badge{
	display: flex;
	justify-content: space-evenly;
	padding-top: 10px;
}

.item__badge img{
	background-color:#f0f1f1;
	padding: 10px;
	border-radius: 12px;
}

.item__badge img:hover{
	background-color:#3949ab;
	color:white;
	filter: grayscale(white);
}

.team__button{
	padding-top: 15%;
	padding-bottom: 15%;
	display: flex;
	justify-content: center;
}

.team__button ul{
	display: flex;
}

.team__button ul li{
	width: 15px;
	height: 15px;
	background-color: #00897b;
	border-radius: 24px;
	margin: 0px 5px;
}

@media (max-width:767px){
	.team__content{
		display: flex;
		flex-wrap: wrap;
	}
	.team__item{
		padding: 10% 0%;
	}
}


/* TEAM END*/



/* BLOG */



.blog__head{
	background-color:#e4fdf9;
}

.blog__header{
	padding-bottom: 5%;
}

.blog__item{
	display: flex;
	justify-content: space-between;
}

.blog__item__content{
	padding-right: 13%;
	margin-top: 30px;
}

.blog__item__content h2{
	font-size: 25px;
}

.blog__item__content b{
	padding-right: 40px;
}

.blog__item__content p{
	line-height: 25px;
}

.blog__item__content h2:hover{
	color:#00897b;
}

.blog__button{
	text-align: center;
	padding: 15% 0%;
}

.blog__button a{
	color:white;
	border:1px solid #00897b;
	text-transform: uppercase;
	background-color:#00897b;
	padding: 20px 50px;
	font-weight: bold;
}

@media (max-width:1023px){
	.blog__item__content{
		padding-right: 0%;
		padding-left: 3%;
		margin-top: 30px;
	}
	.blog__item{
		padding: 1% 0%;
	}
}

@media (max-width:767px){
	.blog__item{
		display: block;
		padding:20% 0%;
	}
	.blog__item__content{
		padding: 0px 20px;
	}
}



/* BLOG END */
